_notes/
admin/backup/
barcode.php
file/
/.buildpath
/.project

/.settings/

.buildpath
.project
.settings/

bncms/inc/configuration/database-settings.inc.php
bncms/inc/configuration/backend-config.inc.php
bncms/inc/configuration/frontend-config.inc.php