_notes/
admin/backup/
file/

bncms/inc/configuration/database-settings.inc.php
bncms/inc/configuration/backend-config.inc.php
bncms/inc/configuration/frontend-config.inc.php


.settings/
.idea/

.buildpath
.project


/.settings/
/.idea/

/.buildpath
/.project