div, span, table {
    color: #566642
}

h1 {
    color: #333
}

img {
    border: 0
}

input, select {
    color: #333
}

table {
    border-radius: 20px;
    padding: 10px
}

a, a:link, a:visited {
    color: #566642
}

a:hover {
    color: #888
}

a.activeLink {
    color: #888
}

a.table_active_page {
    background-color: #cbcbcb;
    color: #888
}

input {
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-top: 1px solid #566642;
    border-left: 1px solid #566642;
    background-color: rgba(255, 255, 255, 0.5)
}

.leftborder {
    border-left: 1px solid #566642 !important
}

input.submit {
    color: #fff;
    background-color: #566642;
    border-top: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-bottom: 1px solid #566642;
    border-right: 1px solid #566642
}

pre {
    background-color: #181818;
    border: 4px ridge green;
    color: green
}

div.table_overall {
    border: solid 1px #fff;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px
}

div#admin_header_right {
    background-color: #fff
}

div#admin_header_left {
    background-color: #fff
}

.mantleNavElementActive {
    border-top: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 0;
    display: block;
    width: 15px;
    float: left
}

.mantleNavElementInactive {
    border: 1px solid #d3d3d3;
    background-color: #ebedeb;
    border-radius: 20px;
    padding: 10px;
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 3px;
    display: block;
    width: 15px;
    float: left
}

.mantleNavOverall {
    border: 1px solid #fff;
    background-color: rgba(235, 237, 235, .8);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px
}

.table_overall_title {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    background-color: rgba(235, 237, 235, 0.5);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px
}

.td_zebra {
    background-color: rgba(230, 232, 230, 0.5);
}

div.display_row {
    background-color: rgba(235, 237, 235, 0.7);
    border: 1px solid #d3d3d3
}